<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${user.langKey}" lang="ja">
<head>
  <title th:text="#{email.password.reset.title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="icon" th:href="@{|${consoleUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{email.password.reset.greeting(${user.email})}"></p>
<p th:text="#{email.password.reset.text1}"></p>
<p>
  <span th:text="#{email.password.reset.text2}"></span>
  <br>
  <a th:with="url=(@{|${consoleUrl}/reset-password?key=${user.resetKey}|})" th:href="${url}" th:text="${url}"></a>
</p>
<p>
  <span th:text="#{email.password.reset.text3}"></span>
  <br>
  <span th:text="#{email.password.reset.text4}"></span>
</p>
<p>
  <span th:text="#{email.password.reset.text5}"></span>
  <br>
  <a th:href="${consoleUrl}" th:text="${consoleUrl}"></a>
</p>
</body>
</html>
