<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${user.langKey}" lang="ja">
<head>
  <title th:text="#{email.register.title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="icon" th:href="@{|${consoleUrl}/favicon.ico|}"/>
</head>

<body>
<p th:text="#{email.register.greeting(${user.email})}"></p>
<p th:text="#{email.register.thank}"></p>
<p th:text="#{email.register.text1}"></p>
<p>
  <a th:with="url=(@{|${consoleUrl}/activate?activationKey=${user.activationKey}|})" th:href="${url}" th:text="${url}"></a>
</p>
<p th:text="#{email.register.text2(${#dates.format(user.activationExpiredDate, 'dd-MM-yyyy HH:mm')})}"></p>
<p th:text="#{email.register.text3}"></p>
<p th:text="#{email.register.text4}"></p>
<p>
  <a th:href="${consoleUrl}" th:text="${consoleUrl}"></a>
</p>
</body>
</html>
